<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417107272092-tqa448q5oath0tlo70a7iji1nf49arer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417107272092-tqa448q5oath0tlo70a7iji1nf49arer</string>
	<key>API_KEY</key>
	<string>AIzaSyCbDwGnR6noK8zWyOtMLLyRz1DOuUguy1E</string>
	<key>GCM_SENDER_ID</key>
	<string>417107272092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel.Kiwari-ios-test</string>
	<key>PROJECT_ID</key>
	<string>kiwari-ios-fc18c</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwari-ios-fc18c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417107272092:ios:b3ce8232194877cdb4e859</string>
	<key>DATABASE_URL</key>
	<string>https://kiwari-ios-fc18c.firebaseio.com</string>
</dict>
</plist>